[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/picotool"]
	path = lib/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "deps/sst-c-api"]
	path = deps/sst-c-api
	url = https://github.com/iotauth/sst-c-api.git
[submodule "deps/iotauth"]
	path = deps/iotauth
	url = https://github.com/iotauth/iotauth
